In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv('train.csv')
raw_data.shape
raw_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
raw_data.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Sjostedt, Mr. Ernst Adolf",male,NaN,NaN,NaN,1601,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [39]:
data = raw_data.copy()
data = data.drop(['Cabin'], axis=1)
data = data.drop(['PassengerId'], axis=1)
data = data.drop(['Ticket'], axis=1)
data = data.drop(['Name'], axis=1)
data['Sex'] = data['Sex'].map({'male':0, 'female':1})
data['Pclass'] = data['Pclass'].map({1:'A', 2:'B', 3:'C'})

In [40]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [52]:
# dropna -> reset_index
data_no_mv = data.dropna(axis=0)
data_no_mv = data_no_mv.reset_index(drop=True)
data_no_mv.describe(include='all')

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,712.000000,712,712.000000,712.000000,712.000000,712.000000,712.000000,712
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,3
top,NaN,C,NaN,NaN,NaN,NaN,NaN,S
freq,NaN,355,NaN,NaN,NaN,NaN,NaN,554
mean,0.404494,NaN,0.363764,29.642093,0.514045,0.432584,34.567251,NaN
std,0.491139,NaN,0.481420,14.492933,0.930692,0.854181,52.938648,NaN
min,0.000000,NaN,0.000000,0.420000,0.000000,0.000000,0.000000,NaN
25%,0.000000,NaN,0.000000,20.000000,0.000000,0.000000,8.050000,NaN
50%,0.000000,NaN,0.000000,28.000000,0.000000,0.000000,15.645850,NaN
75%,1.000000,NaN,1.000000,38.000000,1.000000,1.000000,33.000000,NaN
max,1.000000,NaN,1.000000,80.000000,5.000000,6.000000,512.329200,NaN

In [53]:
data_no_mv.shape

(712, 8)

In [54]:
data_dummies = pd.get_dummies(data_no_mv)
data_dummies

,Survived,Sex,Age,SibSp,Parch,Fare,Pclass_A,Pclass_B,Pclass_C,Embarked_C,Embarked_Q,Embarked_S
0,0,0,22.0,1,0,7.2500,0,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,0,1,0,0
2,1,1,26.0,0,0,7.9250,0,0,1,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,0,1
4,0,0,35.0,0,0,8.0500,0,0,1,0,0,1
5,0,0,54.0,0,0,51.8625,1,0,0,0,0,1
6,0,0,2.0,3,1,21.0750,0,0,1,0,0,1
7,1,1,27.0,0,2,11.1333,0,0,1,0,0,1
8,1,1,14.0,1,0,30.0708,0,1,0,1,0,0
9,1,1,4.0,1,1,16.7000,0,0,1,0,0,1
10,1,1,58.0,0,0,26.5500,1,0,0,0,0,1
11,0,0,20.0,0,0,8.0500,0,0,1,0,0,1
12,0,0,39.0,1,5,31.2750,0,0,1,0,0,1
13,0,1,14.0,0,0,7.8542,0,0,1,0,0,1
14,1,1,55.0,0,0,16.0000,0,1,0,0,0,1
15,0,0,2.0,4,1,29.1250,0,0,1,0,1,0
16,0,1,31.0,1,0,18.0000,0,0,1,0,0,1
17,0,0,35.0,0,0,26.0000,0,1,0,0,0,1
18,1,0,34.0,0,0,13.0000,0,1,0,0,0,1
19,1,1,15.0,0,0,8.0292,0,0,1,0,1,0
20,1,0,28.0,0,0,35.5000,1,0,0,0,0,1
21,0,1,8.0,3,1,21.0750,0,0,1,0,0,1
22,1,1,38.0,1,5,31.3875,0,0,1,0,0,1
23,0,0,19.0,3,2,263.0000,1,0,0,0,0,1
24,0,0,40.0,0,0,27.7208,1,0,0,1,0,0
25,0,0,66.0,0,0,10.5000,0,1,0,0,0,1
26,0,0,28.0,1,0,82.1708,1,0,0,1,0,0
27,0,0,42.0,1,0,52.0000,1,0,0,0,0,1
28,0,0,21.0,0,0,8.0500,0,0,1,0,0,1
29,0,1,18.0,2,0,18.0000,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
682,1,1,45.0,1,1,164.8667,1,0,0,0,0,1
683,1,0,51.0,0,0,26.5500,1,0,0,0,0,1
684,1,1,24.0,0,3,19.2583,0,0,1,1,0,0
685,0,0,41.0,2,0,14.1083,0,0,1,0,0,1
686,0,0,21.0,1,0,11.5000,0,1,0,0,0,1
687,1,1,48.0,0,0,25.9292,1,0,0,0,0,1
688,0,0,24.0,0,0,13.0000,0,1,0,0,0,1
689,1,1,42.0,0,0,13.0000,0,1,0,0,0,1
690,1,1,27.0,1,0,13.8583,0,1,0,1,0,0
691,0,0,31.0,0,0,50.4958,1,0,0,0,0,1
692,1,0,4.0,1,1,11.1333,0,0,1,0,0,1
693,0,0,26.0,0,0,7.8958,0,0,1,0,0,1
694,1,1,47.0,1,1,52.5542,1,0,0,0,0,1
695,0,0,33.0,0,0,5.0000,1,0,0,0,0,1
696,0,0,47.0,0,0,9.0000,0,0,1,0,0,1
697,1,1,28.0,1,0,24.0000,0,1,0,1,0,0
698,1,1,15.0,0,0,7.2250,0,0,1,1,0,0
699,0,0,20.0,0,0,9.8458,0,0,1,0,0,1
700,0,0,19.0,0,0,7.8958,0,0,1,0,0,1
701,1,1,56.0,0,1,83.1583,1,0,0,1,0,0
702,1,1,25.0,0,1,26.0000,0,1,0,0,0,1
703,0,0,33.0,0,0,7.8958,0,0,1,0,0,1
704,0,1,22.0,0,0,10.5167,0,0,1,0,0,1
705,0,0,28.0,0,0,10.5000,0,1,0,0,0,1
706,0,0,25.0,0,0,7.0500,0,0,1,0,0,1
707,0,1,39.0,0,5,29.1250,0,0,1,0,1,0
708,0,0,27.0,0,0,13.0000,0,1,0,0,0,1
709,1,1,19.0,0,0,30.0000,1,0,0,0,0,1
710,1,0,26.0,0,0,30.0000,1,0,0,1,0,0
711,0,0,32.0,0,0,7.7500,0,0,1,0,1,0

In [68]:
targets = data_dummies['Survived']
targets

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      1
8      1
9      1
10     1
11     0
12     0
13     0
14     1
15     0
16     0
17     0
18     1
19     1
20     1
21     0
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
682    1
683    1
684    1
685    0
686    0
687    1
688    0
689    1
690    1
691    0
692    1
693    0
694    1
695    0
696    0
697    1
698    1
699    0
700    0
701    1
702    1
703    0
704    0
705    0
706    0
707    0
708    0
709    1
710    1
711    0
Name: Survived, Length: 712, dtype: int64

In [56]:
unscaled_inputs = data_dummies.iloc[:,1:]
unscaled_inputs

,Sex,Age,SibSp,Parch,Fare,Pclass_A,Pclass_B,Pclass_C,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,1,0,7.2500,0,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,0,1,0,0
2,1,26.0,0,0,7.9250,0,0,1,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,0,1
4,0,35.0,0,0,8.0500,0,0,1,0,0,1
5,0,54.0,0,0,51.8625,1,0,0,0,0,1
6,0,2.0,3,1,21.0750,0,0,1,0,0,1
7,1,27.0,0,2,11.1333,0,0,1,0,0,1
8,1,14.0,1,0,30.0708,0,1,0,1,0,0
9,1,4.0,1,1,16.7000,0,0,1,0,0,1
10,1,58.0,0,0,26.5500,1,0,0,0,0,1
11,0,20.0,0,0,8.0500,0,0,1,0,0,1
12,0,39.0,1,5,31.2750,0,0,1,0,0,1
13,1,14.0,0,0,7.8542,0,0,1,0,0,1
14,1,55.0,0,0,16.0000,0,1,0,0,0,1
15,0,2.0,4,1,29.1250,0,0,1,0,1,0
16,1,31.0,1,0,18.0000,0,0,1,0,0,1
17,0,35.0,0,0,26.0000,0,1,0,0,0,1
18,0,34.0,0,0,13.0000,0,1,0,0,0,1
19,1,15.0,0,0,8.0292,0,0,1,0,1,0
20,0,28.0,0,0,35.5000,1,0,0,0,0,1
21,1,8.0,3,1,21.0750,0,0,1,0,0,1
22,1,38.0,1,5,31.3875,0,0,1,0,0,1
23,0,19.0,3,2,263.0000,1,0,0,0,0,1
24,0,40.0,0,0,27.7208,1,0,0,1,0,0
25,0,66.0,0,0,10.5000,0,1,0,0,0,1
26,0,28.0,1,0,82.1708,1,0,0,1,0,0
27,0,42.0,1,0,52.0000,1,0,0,0,0,1
28,0,21.0,0,0,8.0500,0,0,1,0,0,1
29,1,18.0,2,0,18.0000,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
682,1,45.0,1,1,164.8667,1,0,0,0,0,1
683,0,51.0,0,0,26.5500,1,0,0,0,0,1
684,1,24.0,0,3,19.2583,0,0,1,1,0,0
685,0,41.0,2,0,14.1083,0,0,1,0,0,1
686,0,21.0,1,0,11.5000,0,1,0,0,0,1
687,1,48.0,0,0,25.9292,1,0,0,0,0,1
688,0,24.0,0,0,13.0000,0,1,0,0,0,1
689,1,42.0,0,0,13.0000,0,1,0,0,0,1
690,1,27.0,1,0,13.8583,0,1,0,1,0,0
691,0,31.0,0,0,50.4958,1,0,0,0,0,1
692,0,4.0,1,1,11.1333,0,0,1,0,0,1
693,0,26.0,0,0,7.8958,0,0,1,0,0,1
694,1,47.0,1,1,52.5542,1,0,0,0,0,1
695,0,33.0,0,0,5.0000,1,0,0,0,0,1
696,0,47.0,0,0,9.0000,0,0,1,0,0,1
697,1,28.0,1,0,24.0000,0,1,0,1,0,0
698,1,15.0,0,0,7.2250,0,0,1,1,0,0
699,0,20.0,0,0,9.8458,0,0,1,0,0,1
700,0,19.0,0,0,7.8958,0,0,1,0,0,1
701,1,56.0,0,1,83.1583,1,0,0,1,0,0
702,1,25.0,0,1,26.0000,0,1,0,0,0,1
703,0,33.0,0,0,7.8958,0,0,1,0,0,1
704,1,22.0,0,0,10.5167,0,0,1,0,0,1
705,0,28.0,0,0,10.5000,0,1,0,0,0,1
706,0,25.0,0,0,7.0500,0,0,1,0,0,1
707,1,39.0,0,5,29.1250,0,0,1,0,1,0
708,0,27.0,0,0,13.0000,0,1,0,0,0,1
709,1,19.0,0,0,30.0000,1,0,0,0,0,1
710,0,26.0,0,0,30.0000,1,0,0,1,0,0
711,0,32.0,0,0,7.7500,0,0,1,0,1,0

In [65]:
unscaled_inputs.shape

(712, 11)

# Standardize

In [57]:
# with dummy variables

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
# you dont need to understand, you only need to know how to use
class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [58]:
unscaled_inputs.columns.values

array(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Pclass_A', 'Pclass_B',
       'Pclass_C', 'Embarked_C', 'Embarked_Q', 'Embarked_S'], dtype=object)

In [59]:
column_to_scale = ['Age', 'SibSp', 'Parch', 'Fare']

In [60]:
titanic_scaler = CustomScaler(column_to_scale)

In [61]:
titanic_scaler.fit(unscaled_inputs)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

CustomScaler(columns=['Age', 'SibSp', 'Parch', 'Fare'], copy=None,
       with_mean=None, with_std=None)

In [62]:
scaled_inputs = titanic_scaler.transform(unscaled_inputs)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:22: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [64]:
scaled_inputs.shape

(712, 11)

In [63]:
scaled_inputs

,Sex,Age,SibSp,Parch,Fare,Pclass_A,Pclass_B,Pclass_C,Embarked_C,Embarked_Q,Embarked_S
0,0,-0.527669,0.522511,-0.506787,-0.516380,0,0,1,0,0,1
1,1,0.577094,0.522511,-0.506787,0.694046,1,0,0,1,0,0
2,1,-0.251478,-0.552714,-0.506787,-0.503620,0,0,1,0,0,1
3,1,0.369951,0.522511,-0.506787,0.350326,1,0,0,0,0,1
4,0,0.369951,-0.552714,-0.506787,-0.501257,0,0,1,0,0,1
5,0,1.681856,-0.552714,-0.506787,0.326933,1,0,0,0,0,1
6,0,-1.908622,2.672960,0.664747,-0.255045,0,0,1,0,0,1
7,1,-0.182430,-0.552714,1.836282,-0.442974,0,0,1,0,0,1
8,1,-1.080050,0.522511,-0.506787,-0.084997,0,1,0,1,0,0
9,1,-1.770526,0.522511,0.664747,-0.337746,0,0,1,0,0,1
10,1,1.958047,-0.552714,-0.506787,-0.151551,1,0,0,0,0,1
11,0,-0.665764,-0.552714,-0.506787,-0.501257,0,0,1,0,0,1
12,0,0.646142,0.522511,5.350885,-0.062234,0,0,1,0,0,1
13,1,-1.080050,-0.552714,-0.506787,-0.504959,0,0,1,0,0,1
14,1,1.750904,-0.552714,-0.506787,-0.350978,0,1,0,0,0,1
15,0,-1.908622,3.748184,0.664747,-0.102875,0,0,1,0,1,0
16,1,0.093760,0.522511,-0.506787,-0.313172,0,0,1,0,0,1
17,0,0.369951,-0.552714,-0.506787,-0.161947,0,1,0,0,0,1
18,0,0.300903,-0.552714,-0.506787,-0.407687,0,1,0,0,0,1
19,1,-1.011002,-0.552714,-0.506787,-0.501651,0,0,1,0,1,0
20,0,-0.113383,-0.552714,-0.506787,0.017632,1,0,0,0,0,1
21,1,-1.494336,2.672960,0.664747,-0.255045,0,0,1,0,0,1
22,1,0.577094,0.522511,5.350885,-0.060107,0,0,1,0,0,1
23,0,-0.734812,2.672960,1.836282,4.318080,1,0,0,0,0,1
24,0,0.715189,-0.552714,-0.506787,-0.129419,1,0,0,1,0,0
25,0,2.510428,-0.552714,-0.506787,-0.454945,0,1,0,0,0,1
26,0,-0.113383,0.522511,-0.506787,0.899853,1,0,0,1,0,0
27,0,0.853284,0.522511,-0.506787,0.329532,1,0,0,0,0,1
28,0,-0.596716,-0.552714,-0.506787,-0.501257,0,0,1,0,0,1
29,1,-0.803859,1.597735,-0.506787,-0.313172,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
682,1,1.060427,0.522511,0.664747,2.463060,1,0,0,0,0,1
683,0,1.474713,-0.552714,-0.506787,-0.151551,1,0,0,0,0,1
684,1,-0.389573,-0.552714,3.007816,-0.289386,0,0,1,1,0,0
685,0,0.784237,1.597735,-0.506787,-0.386737,0,0,1,0,0,1
686,0,-0.596716,0.522511,-0.506787,-0.436042,0,1,0,0,0,1
687,1,1.267570,-0.552714,-0.506787,-0.163286,1,0,0,0,0,1
688,0,-0.389573,-0.552714,-0.506787,-0.407687,0,1,0,0,0,1
689,1,0.853284,-0.552714,-0.506787,-0.407687,0,1,0,0,0,1
690,1,-0.182430,0.522511,-0.506787,-0.391463,0,1,0,1,0,0
691,0,0.093760,-0.552714,-0.506787,0.301098,1,0,0,0,0,1
692,0,-1.770526,0.522511,0.664747,-0.442974,0,0,1,0,0,1
693,0,-0.251478,-0.552714,-0.506787,-0.504172,0,0,1,0,0,1
694,1,1.198523,0.522511,0.664747,0.340009,1,0,0,0,0,1
695,0,0.231856,-0.552714,-0.506787,-0.558912,1,0,0,0,0,1
696,0,1.198523,-0.552714,-0.506787,-0.483300,0,0,1,0,0,1
697,1,-0.113383,0.522511,-0.506787,-0.199753,0,1,0,1,0,0
698,1,-1.011002,-0.552714,-0.506787,-0.516853,0,0,1,1,0,0
699,0,-0.665764,-0.552714,-0.506787,-0.467311,0,0,1,0,0,1
700,0,-0.734812,-0.552714,-0.506787,-0.504172,0,0,1,0,0,1
701,1,1.819952,-0.552714,0.664747,0.918520,1,0,0,1,0,0
702,1,-0.320526,-0.552714,0.664747,-0.161947,0,1,0,0,0,1
703,0,0.231856,-0.552714,-0.506787,-0.504172,0,0,1,0,0,1
704,1,-0.527669,-0.552714,-0.506787,-0.454629,0,0,1,0,0,1
705,0,-0.113383,-0.552714,-0.506787,-0.454945,0,1,0,0,0,1
706,0,-0.320526,-0.552714,-0.506787,-0.520161,0,0,1,0,0,1
707,1,0.646142,-0.552714,5.350885,-0.102875,0,0,1,0,1,0
708,0,-0.182430,-0.552714,-0.506787,-0.407687,0,1,0,0,0,1
709,1,-0.734812,-0.552714,-0.506787,-0.086335,1,0,0,0,0,1
710,0,-0.251478,-0.552714,-0.506787,-0.086335,1,0,0,1,0,0
711,0,0.162808,-0.552714,-0.506787,-0.506928,0,0,1,0,1,0

In [66]:
from sklearn.model_selection import train_test_split

In [69]:
train_test_split(scaled_inputs, targets, train_size=0.8)

/usr/local/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

[     Sex       Age     SibSp     Parch      Fare  Pclass_A  Pclass_B  \
 165    1 -0.941954 -0.552714 -0.506787 -0.506928         0         0
 686    0 -0.596716  0.522511 -0.506787 -0.436042         0         1
 683    0  1.474713 -0.552714 -0.506787 -0.151551         1         0
 181    0 -0.734812 -0.552714 -0.506787 -0.454945         0         1
 172    1 -0.182430 -0.552714 -0.506787 -0.503620         0         0
 310    1 -0.872907 -0.552714 -0.506787 -0.426590         0         1
 586    0  0.369951 -0.552714 -0.506787  9.031168         1         0
 584    0 -0.078859 -0.552714 -0.506787 -0.349088         0         0
 590    0  0.093760 -0.552714 -0.506787 -0.503620         0         0
 414    0 -0.527669 -0.552714 -0.506787 -0.504172         0         0
 340    1 -0.113383  0.522511 -0.506787 -0.161947         0         1
 327    0  1.474713 -0.552714 -0.506787 -0.506928         0         0
 548    0 -0.320526 -0.552714 -0.506787 -0.516853         0         0
 674    0  0.369951 -0.552714 -0.506787 -0.504172         0         0
 368    0  0.300903 -0.552714 -0.506787 -0.501257         0         0
 582    0 -0.458621 -0.552714 -0.506787 -0.407687         0         1
 121    1 -0.527669  0.522511 -0.506787  0.605517         1         0
 387    0  1.958047 -0.552714 -0.506787 -0.092006         1         0
 493    0  2.165190 -0.552714 -0.506787 -0.042465         1         0
 527    0  0.922332 -0.552714 -0.506787 -0.501257         0         0
 710    0 -0.251478 -0.552714 -0.506787 -0.086335         1         0
 398    1 -0.596716 -0.552714 -0.506787 -0.506928         0         0
 555    0  0.369951 -0.552714 -0.506787 -0.156513         1         0
 56     0  0.162808 -0.552714 -0.506787  0.414517         0         0
 3      1  0.369951  0.522511 -0.506787  0.350326         1         0
 621    1 -0.872907  0.522511 -0.506787  0.424048         1         0
 173    0  0.853284  0.522511 -0.506787 -0.143044         0         1
 504    1  0.784237 -0.552714  5.350885  0.096788         0         0
 605    1  0.231856 -0.552714 -0.506787  0.981688         1         0
 269    1  0.784237 -0.552714 -0.506787  1.889036         1         0
 ..   ...       ...       ...       ...       ...       ...       ...
 162    1 -1.908622 -0.552714  0.664747 -0.455654         0         0
 557    0 -0.320526 -0.552714 -0.506787 -0.507085         0         0
 364    0 -0.044335 -0.552714 -0.506787 -0.504172         0         0
 336    0 -0.596716 -0.552714 -0.506787 -0.507244         0         0
 288    0 -0.044335  0.522511 -0.506787 -0.129419         0         1
 472    0  1.336618  0.522511 -0.506787  0.422709         1         0
 161    0 -0.803859 -0.552714 -0.506787 -0.501257         0         0
 300    0 -0.182430 -0.552714  1.836282  3.344572         1         0
 495    1 -0.596716 -0.552714 -0.506787  0.820224         1         0
 285    1 -0.527669 -0.552714  0.664747  0.386242         1         0
 435    0 -1.494336  0.522511  0.664747  0.041261         0         1
 290    0  0.369951 -0.552714 -0.506787 -0.520161         0         0
 188    0 -0.389573 -0.552714 -0.506787 -0.454945         0         1
 355    1 -0.113383 -0.552714 -0.506787 -0.407687         0         1
 513    1 -0.803859 -0.552714  0.664747 -0.218657         0         1
 666    0 -0.596716 -0.552714 -0.506787 -0.489679         0         0
 167    0 -0.389573 -0.552714 -0.506787 -0.520161         0         0
 134    0 -0.113383 -0.552714 -0.506787  0.414517         0         0
 1      1  0.577094  0.522511 -0.506787  0.694046         1         0
 16     1  0.093760  0.522511 -0.506787 -0.313172         0         0
 685    0  0.784237  1.597735 -0.506787 -0.386737         0         0
 65     0 -0.941954  0.522511  3.007816 -0.003634         0         0
 670    1  0.024713 -0.552714 -0.506787 -0.067432         1         0
 579    1 -0.320526  0.522511 -0.506787 -0.503620         0         0
 528    1  0.715189  0.522511  0.664747  0.083793         0         1
 357    1 -1.149097 -0.552714  0.664747 -0.284817         0         1
 359    1 -1.701479  1.597735  0.664747 -0.289386         0         0
 149    0  0.438999 -0.552714 -0.506787 -0.504172         0         0
 646    0 -0.251478 -0.552714 -0.506787 -0.504329         0         0
 565    0 -0.044335 -0.552714 -0.506787 -0.474164         0         0

      Pclass_C  Embarked_C  Embarked_Q  Embarked_S
 165         1           0           1           0
 686         0           0           0           1
 683         0           0           0           1
 181         0           0           0           1
 172         1           0           0           1
 310         0           1           0           0
 586         0           1           0           0
 584         1           0           0           1
 590         1           0           0           1
 414         1           0           0           1
 340         0           0           0           1
 327         1           0           0           1
 548         1           1           0           0
 674         1           1           0           0
 368         1           0           0           1
 582         0           0           0           1
 121         0           0           0           1
 387         0           1           0           0
 493         0           0           0           1
 527         1           0           0           1
 710         0           1           0           0
 398         1           0           1           0
 555         0           0           0           1
 56          1           0           0           1
 3           0           0           0           1
 621         0           0           0           1
 173         0           0           0           1
 504         1           0           0           1
 605         0           0           0           1
 269         0           1           0           0
 ..        ...         ...         ...         ...
 162         1           0           0           1
 557         1           0           1           0
 364         1           1           0           0
 336         1           0           1           0
 288         0           1           0           0
 472         0           1           0           0
 161         1           0           0           1
 300         0           1           0           0
 495         0           0           0           1
 285         0           0           0           1
 435         0           0           0           1
 290         1           0           0           1
 188         0           0           0           1
 355         0           0           0           1
 513         0           0           0           1
 666         1           0           0           1
 167         1           0           0           1
 134         1           0           0           1
 1           0           1           0           0
 16          1           0           0           1
 685         1           0           0           1
 65          1           0           0           1
 670         0           1           0           0
 579         1           0           0           1
 528         0           0           0           1
 357         0           0           0           1
 359         1           1           0           0
 149         1           0           0           1
 646         1           0           0           1
 565         1           0           0           1

 [569 rows x 11 columns],
      Sex       Age     SibSp     Parch      Fare  Pclass_A  Pclass_B  \
 577    1  0.024713  2.672960 -0.506787 -0.256463         0         1
 345    0 -0.872907 -0.552714 -0.506787 -0.518743         0         0
 611    1  0.059236 -0.552714 -0.506787 -0.506928         0         0
 326    0  0.300903  0.522511 -0.506787 -0.256463         0         1
 142    0  0.024713 -0.552714 -0.506787 -0.407687         0         1
 236    1 -0.389573 -0.552714 -0.506787 -0.486135         0         0
 219    0  0.508046 -0.552714  0.664747 -0.092006         1         0
 228    0  0.231856 -0.552714 -0.506787 -0.489679         0         0
 256    0 -0.527669 -0.552714 -0.506787 -0.516380         0         0
 316    0 -0.527669 -0.552714 -0.506787 -0.506063         0         0
 438    0 -0.527669 -0.552714 -0.506787 -0.516853         0         0
 244    0  0.024713  0.522511 -0.506787 -0.199753         0         1
 258    1  0.024713 -0.552714 -0.506787 -0.419974         0         1
 425    1  0.024713 -0.552714 -0.506787  1.358332         1         0
 439    1 -0.527669 -0.552714 -0.506787 -0.506456         0         0
 133    1  1.060427  0.522511  4.179350 -0.126032         0         0
 78     0 -0.596716 -0.552714  0.664747  0.807544         1         0
 342    0  0.162808 -0.552714 -0.506787 -0.501257         0         0
 420    1 -1.908622  0.522511  0.664747 -0.161947         0         1
 474    0  0.991380 -0.552714 -0.506787 -0.501257         0         0
 43     1 -1.701479  0.522511  1.836282 -0.128867         0         1
 75     1  0.300903 -0.552714  0.664747 -0.218657         0         1
 259    1 -0.527669  0.522511  0.664747 -0.105238         0         1
 699    0 -0.665764 -0.552714 -0.506787 -0.467311         0         0
 51     0 -0.251478  1.597735 -0.506787 -0.489679         0         0
 671    0  0.335427 -0.552714 -0.506787 -0.531739         0         0
 215    1  1.958047 -0.552714  0.664747  2.247485         1         0
 553    0  0.853284 -0.552714 -0.506787 -0.508819         0         0
 673    0  0.853284 -0.552714 -0.506787 -0.510709         0         0
 404    0 -0.251478 -0.552714 -0.506787  0.414517         0         0
 ..   ...       ...       ...       ...       ...       ...       ...
 535    1  0.922332  0.522511  6.522419  0.233127         0         0
 107    1 -0.734812 -0.552714  1.836282 -0.156592         1         0
 211    0  0.715189 -0.552714 -0.506787 -0.653427         1         0
 479    1 -0.527669  0.522511  1.836282  0.132547         0         1
 397    0 -0.872907 -0.552714 -0.506787 -0.489679         0         0
 252    1 -0.389573  0.522511 -0.506787 -0.161947         0         1
 303    1  0.853284 -0.552714 -0.506787  3.647494         1         0
 627    0 -1.977669  0.522511  1.836282 -0.264497         0         0
 233    1 -0.251478 -0.552714 -0.506787  0.837080         1         0
 358    0  0.300903 -0.552714 -0.506787 -0.151551         1         0
 347    1 -1.080050  0.522511  1.836282  1.614941         1         0
 203    0  0.024713  0.522511 -0.506787 -0.349088         0         0
 113    0 -0.734812 -0.552714 -0.506787 -0.525831         0         0
 158    0 -0.113383 -0.552714 -0.506787 -0.473848         0         0
 662    0 -1.989407  0.522511  0.664747 -0.298995         0         1
 529    0  0.093760  0.522511 -0.506787  0.329532         1         0
 198    1 -0.389573 -0.552714  1.836282 -0.379333         0         1
 313    0 -0.113383  1.597735 -0.506787 -0.503620         0         0
 101    0  0.231856 -0.552714 -0.506787 -0.504172         0         0
 533    0 -0.355049 -0.552714 -0.506787 -0.501257         0         0
 525    0  0.162808  1.597735 -0.506787  0.735948         0         1
 630    0 -0.320526 -0.552714 -0.506787 -0.504172         0         0
 283    0 -0.320526  0.522511 -0.506787 -0.316953         0         0
 144    0 -1.425288  3.748184  1.836282 -0.060107         0         0
 201    1 -0.044335  0.522511  0.664747 -0.455654         0         0
 208    1  1.405666 -0.552714  0.664747 -0.161947         0         1
 169    0 -0.527669 -0.552714 -0.506787 -0.516380         0         0
 376    1 -0.458621 -0.552714 -0.506787 -0.392722         0         1
 321    0  0.646142 -0.552714 -0.506787 -0.503620         0         0
 412    0  0.162808 -0.552714 -0.506787 -0.504172         0         0

      Pclass_C  Embarked_C  Embarked_Q  Embarked_S
 577         0           0           0           1
 345         1           0           0           1
 611         1           0           1           0
 326         0           0           0           1
 142         0           0           0           1
 236         1           0           0           1
 219         0           1           0           0
 228         1           1           0           0
 256         1           0           0           1
 316         1           0           0           1
 438         1           1           0           0
 244         0           1           0           0
 258         0           0           1           0
 425         0           1           0           0
 439         1           0           0           1
 133         1           0           0           1
 78          0           0           0           1
 342         1           0           0           1
 420         0           0           0           1
 474         1           0           0           1
 43          0           0           0           1
 75          0           0           0           1
 259         0           0           0           1
 699         1           0           0           1
 51          1           0           0           1
 671         1           1           0           0
 215         0           0           0           1
 553         1           0           0           1
 673         1           0           0           1
 404         1           0           0           1
 ..        ...         ...         ...         ...
 535         1           0           0           1
 107         0           0           0           1
 211         0           0           0           1
 479         0           1           0           0
 397         1           0           0           1
 252         0           0           0           1
 303         0           1           0           0
 627         1           0           0           1
 233         0           0           0           1
 358         0           0           0           1
 347         0           0           0           1
 203         1           0           0           1
 113         1           0           1           0
 158         1           0           0           1
 662         0           0           0           1
 529         0           0           0           1
 198         0           0           0           1
 313         1           0           0           1
 101         1           1           0           0
 533         1           0           0           1
 525         0           0           0           1
 630         1           0           0           1
 283         1           0           0           1
 144         1           0           0           1
 201         1           0           0           1
 208         0           0           0           1
 169         1           0           0           1
 376         0           1           0           0
 321         1           0           0           1
 412         1           0           0           1

 [143 rows x 11 columns],
 165    1
 686    0
 683    1
 181    1
 172    1
 310    1
 586    1
 584    0
 590    1
 414    0
 340    1
 327    0
 548    0
 674    0
 368    0
 582    0
 121    1
 387    0
 493    0
 527    0
 710    1
 398    0
 555    1
 56     1
 3      1
 621    1
 173    0
 504    0
 605    1
 269    1
       ..
 162    0
 557    0
 364    1
 336    0
 288    0
 472    1
 161    1
 300    0
 495    1
 285    1
 435    1
 290    0
 188    0
 355    1
 513    1
 666    0
 167    0
 134    0
 1      1
 16     0
 685    0
 65     0
 670    1
 579    0
 528    1
 357    1
 359    1
 149    0
 646    0
 565    0
 Name: Survived, Length: 569, dtype: int64,
 577    1
 345    0
 611    0
 326    0
 142    0
 236    0
 219    0
 228    0
 256    0
 316    0
 438    1
 244    0
 258    1
 425    1
 439    1
 133    0
 78     0
 342    1
 420    1
 474    0
 43     1
 75     1
 259    1
 699    0
 51     0
 671    0
 215    1
 553    0
 673    0
 404    1
       ..
 535    0
 107    1
 211    0
 479    1
 397    0
 252    1
 303    1
 627    1
 233    1
 358    1
 347    1
 203    0
 113    0
 158    0
 662    1
 529    0
 198    1
 313    0
 101    0
 533    0
 525    0
 630    0
 283    0
 144    0
 201    0
 208    1
 169    0
 376    1
 321    1
 412    0
 Name: Survived, Length: 143, dtype: int64]

In [74]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, 
                                                    train_size=0.8, random_state=330)

/usr/local/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [75]:
print(x_train.shape, y_train.shape)

(569, 11) (569,)

In [76]:
print(x_test.shape, y_test.shape)

(143, 11) (143,)

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [78]:
reg = LogisticRegression()

In [79]:
reg.fit(x_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [81]:
reg.score(x_train, y_train)

0.7961335676625659

In [82]:
model_ouputs = reg.predict(x_train)
model_ouputs

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [87]:
np.sum(model_ouputs == y_train)/ y_train.shape[0]

0.7961335676625659

In [90]:
reg.coef_[0]

array([ 2.22765418, -0.59145816, -0.40193391, -0.01438846,  0.19724055,
        0.85178921, -0.21246773, -1.23896622, -0.00700062, -0.35318999,
       -0.23945414])

In [91]:
reg.intercept_[0]

-0.5996447426189281

In [93]:
feature_name = unscaled_inputs.columns.values
feature_name

array(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Pclass_A', 'Pclass_B',
       'Pclass_C', 'Embarked_C', 'Embarked_Q', 'Embarked_S'], dtype=object)

In [112]:
summary_table = pd.DataFrame(columns=['feature_name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table.index = summary_table.index+1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()

summary_table

   feature_name  Coefficient
0     Intercept    -0.599645
1           Sex     2.227654
2           Age    -0.591458
3         SibSp    -0.401934
4         Parch    -0.014388
5          Fare     0.197241
6      Pclass_A     0.851789
7      Pclass_B    -0.212468
8      Pclass_C    -1.238966
9    Embarked_C    -0.007001
10   Embarked_Q    -0.353190
11   Embarked_S    -0.239454

In [113]:
# more high odds ratio is more important
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table.sort_values('Odds_ratio', ascending=False)

   feature_name  Coefficient  Odds_ratio
1           Sex     2.227654    9.278076
6      Pclass_A     0.851789    2.343837
5          Fare     0.197241    1.218037
9    Embarked_C    -0.007001    0.993024
4         Parch    -0.014388    0.985715
7      Pclass_B    -0.212468    0.808586
11   Embarked_S    -0.239454    0.787057
10   Embarked_Q    -0.353190    0.702444
3         SibSp    -0.401934    0.669025
2           Age    -0.591458    0.553520
0     Intercept    -0.599645    0.549007
8      Pclass_C    -1.238966    0.289684

In [114]:
reg.score(x_test, y_test)

0.8531468531468531

# Save the model

In [115]:
import pickle

In [116]:
# dump means save
#with open('filename','write bytes') as file:
#    pickle.dump('object to be dumped',file)

with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [118]:
with open('scaler', 'wb') as file:
    pickle.dump(titanic_scaler, file)